main {
    padding: 1rem;
}
#pageCaption {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
table {
    border-collapse:collapse;
    margin: 1rem auto;
    width: 90%;
}
th {
    padding: 0.5rem;
    text-align: center;
    background: #f7baf1;
}
td {
    padding: 0.3rem;
}
.centerText {
    text-align: center;
}
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
}
input[type="date"]::-webkit-datetime-edit-year-field{
    position: absolute !important;
    border-left:1px solid black;
    color:#000;
    left: 56px;
}
input[type="date"]::-webkit-datetime-edit-month-field{
    position: absolute !important;
    border-left:1px solid black;
    color:#000;
    left: 26px;
}
input[type="date"]::-webkit-datetime-edit-day-field{
    position: absolute !important;
    color:#000;
    left: 4px;
}
#tableTimKiem {
    width: fit-content;
    border: 1px solid grey;
    background: #ace8e4;
}
#tableTimKiem input[type=submit], input[type=button], input[type=reset] {
    float: left;
    width: 50%;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
#tableTimKiem input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
    opacity: 1;
}
#btnTinh {
    background-color: #fc9b74;
}
#btnReset {
    background-color: #a885d6;
}
#output {
    text-align: center;
    margin: 1rem;
}