main {
    padding: 1rem;
}
#pageCaption {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: green;
}
table {
    border-collapse:collapse;
    margin: 0 auto;
}
td {
    padding: 0.5rem;
}
td input[type=text] {
    color: black;
}
#submitRow {
    background: white;
}
#submitRow input[type=submit] {
    width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
#submitRow input[type=submit]:hover{
    opacity: 1;
}
#btnThem {
    background-color: #07b351;
    color: white;
}
#goback {
    text-decoration: none;
    color: blue;
    opacity: 0.7;
}
#goback:hover {
    opacity: 1;
}