main {
    padding: 1rem 10rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cover {
    flex: 1;
    padding: 0rem 2rem;
}

.info {
    flex: 2;
}

.addCartItems {
    flex: 1;
    text-align: center;
}

.cartInfo {
    padding: 0.3rem;
    text-align: center;
}

#btnAdd {
    width: fit-content;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9; 
    background-color: #07b351;
    color: white;
    padding: 1rem;
    font-size: 16px;
}
#btnAdd:hover{
    opacity: 1;
}

#cover-image {
    width: 100%;
}
.rectangle-box {
    border: 1px solid #000;
    background-color: #f0f0f0;
    display: inline-block;
    margin-bottom: 2rem;
    text-align: left;
    padding: 0.5rem;
}
table {
    margin: 0.5rem 0rem;
}
td {
    padding: 0.5rem;
}
#txtDonGia {
    font-size: 2rem;
    margin: 1rem 0.5rem;
    color: red;
}
.linkTim {
    text-decoration: none;
    color: blue;
}
.linkTim:hover {
    color: orange;
}
.changeQuantity {
    background: #dadada;
    border: solid 1px #dcdcdc;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
    color: #7d7d7d;
    opacity: 0.9;
}
.changeQuantity:hover {
    opacity: 1;
}
#quantity {
    background: #f9f9f9;
    color: #7d7d7d;
    font-weight: 500;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 60px;
    border: 1px solid #efefef;
    border-left: none;
    border-right: none;
    border-radius: 1px;
}