main {
    padding: 1rem;
}
#pageCaption {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: green;
}
table {
    border-collapse:collapse;
    margin: 1rem auto;
    width: 100%;
}
th {
    padding: 0.5rem;
    text-align: center;
    background: #f7baf1;
}
td {
    padding: 0.3rem;
}
.centerText {
    text-align: center;
}
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
}
input[type="date"]::-webkit-datetime-edit-year-field{
    position: absolute !important;
    border-left:1px solid black;
    color:#000;
    left: 56px;
}
input[type="date"]::-webkit-datetime-edit-month-field{
    position: absolute !important;
    border-left:1px solid black;
    color:#000;
    left: 26px;
}
input[type="date"]::-webkit-datetime-edit-day-field{
    position: absolute !important;
    color:#000;
    left: 4px;
}
#goback {
    text-decoration: none;
    color: blue;
    opacity: 0.7;
}
#goback:hover {
    opacity: 1;
}