main {
    padding: 1rem 20rem;
}
.anhbia {
    width: 15rem;
}
table {
    margin: 0.5rem 0rem;
    border-collapse: collapse;
}
.trTruyen {
    border: 1px solid grey;
}
td {
    padding: 0.5rem;
}
.linkTim {
    text-decoration: none;
    color: blue;
}
.linkTim:hover {
    color: orange;
}
.btnAdd {
    width: fit-content;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9; 
    background-color: #07b351;
    color: white;
    padding: 1rem;
    font-size: 16px;
}
.btnAdd:hover{
    opacity: 1;
}
#txtDonGia {
    font-size: 2rem;
    margin: 1rem 0.5rem;
    color: red;
}
.btnDisabled {
    opacity: 0.5;
    pointer-events: none;
    background-color: #b31e07;
    text-decoration: line-through;
}